:root {
    --primary:#B2FF59;
    --secondary:#234099;

    --white:#FFF;
    --text:var(--white);

    --font-family:Roboto;

    --background:radial-gradient(
    100% 197.75% at 0% 0%, 
    rgba(178, 255, 89, 0.63) 0.12%, 
    rgba(178, 255, 89, 0) 100%
    ), var(--secondary);

    --font-00:24px;
    --font-40:48px;
    --font-80:72px;
    --font-90:144px;
}
html {
    box-sizing: border-box;
}

*,
    *::before,
    *::after {
        box-sizing: inherit;
    }

    html {
        font-size: 16px !important;
        line-height: 16px !important;
    }

    body {
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        margin:0;
        font-family: var(--font-family);
        color: var(--text);
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }

    a {
        color: var(--text);
        text-decoration: none;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    img {
        max-width: 100%;
        object-fit: contain;
        position: relative;
    }

    figure {
        margin: 2rem 0;
    }

    figcaption {
        font-size: 80%;
    }

    table {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 85%;
        border-collapse: collapse;
    }

    td,
    th {
        padding: .25rem .5rem;
    }

    th {
        text-align: left;
    }

    tbody {
        tr {
            &:nth-of-type(odd) {
                td {
                    /* background-color: ${colors.ui.whisper}; */
                }
                tr {
                    /* background-color: ${colors.ui.whisper}; */
                }
            }
        }
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 1.414rem;
        margin-bottom: .5rem;
        color: var(--text);
        font-weight: 600;
        /* line-height: ${dimensions.lineHeight.heading}; */
        text-rendering: optimizeLegibility;
    }

    h1 {
        margin-top: 0;
        font-size:72px;
        line-height:84px;
    }

    h2 {
        font-size:var(--font-90);
        line-height:169px;
    }

    h3 {
        /* font-size: ${dimensions.headingSizes.h3}rem; */
    }

    h4, h5, h6 {
        /* font-size: ${dimensions.headingSizes.h4}rem; */
    }

    p {
        margin-top: 0;
        margin-bottom: 1rem;
        color:var(--text);
        font-size:24px;
        line-height: 28px;
    }

    strong {
        /* color: ${colors.black}; */
    }

    ul,
    ol,
    dl {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    dt {
        font-weight: bold;
    }

    dd {
        margin-bottom: .5rem;
    }

    hr {
        position: relative;
        margin: 1.5rem 0;
        border: 0;
        /* border-top: 1px solid ${colors.ui.light}; */
    }

    blockquote {
        margin: .8rem 0;
        padding: .5rem 1rem;
        /* border-left: .25rem solid ${colors.ui.light}; */
        /* color: ${colors.gray.calm}; */

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }

        /* @media (min-width: ${getEmSize(breakpoints.md)}em) { */
        /*   padding-right: 5rem; */
        /*   padding-left: 1.25rem; */
    /* } */
    }
/* } */
